/* Universal Font-Family */
body {
    font-family: Arial, sans-serif;
    margin: 0;
}


/* Hero Image and Content */
.hero {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    color: white;
    padding: 0px 70px;
    height: 700px;
    text-align: left;
    text-shadow: 2px 2px 10px #313131;
    overflow: hidden;
}

.hero h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    margin: 0;
    text-align: left;
}

.hero p {
    font-family: Century Gothic;
    font-size: 14px;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('Hero_Pic.jpg') no-repeat center center;
    background-size: cover;
    z-index: -1;
    opacity: 1;
}


/* Header */
header {
    background-color: hsla(30, 10%, 14%, 0.9);
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

header h1 {
    font-family: Brush Script MT;
    font-size: 50px;
    padding-left: 15px;
    margin: 0;
}

header li {
    padding-right: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

#contact {
    background-color: rgb(110, 91, 32);
    border-radius: 10px;
    padding: 15px 15px;
}

.menu {
    list-style: none;
    padding: 0;
    gap: 20px;
    margin: 0;
    display: flex;
}

.menu li {
    position: relative;
    margin-right: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
}


/* Footer */
footer {
    background-color: #313131;
    text-align: center;
    font-size: 14px;
    color: white;
    margin-top: 4%;
    border-top: 3px outset #8a794c;
    padding-bottom: 20px;
}


/* Table for Prices*/
#price{
    background-color: #313131; 
    color: white;              
    text-align: center;        
    padding: 10px;                 
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px 15px;
    text-align: left;
    width: 50%;
}

th {
    background-color: #6E5B20;
    color: white;
    font-size: 16px;
}

table tr:last-child {
    background-color: #dac790; 
    color: white;               
    font-weight: bold;         
}


