/* Universal Font-Family */
body {
  font-family: Arial, sans-serif;
  margin: 0;
}

/* Hero Image and Content */
.hero {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  color: white;
  padding: 0px 70px;
  height: 700px;
  text-align: left;
  text-shadow: 2px 2px 10px #313131;
  overflow: hidden;
}

.hero h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 50px;
  margin: 0;
  text-align: left;
}

.hero p {
  font-family: Century Gothic;
  font-size: 14px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('Hero_Pic.jpg') no-repeat center center;
  background-size: cover;
  z-index: -1;
  opacity: 1;
}